<!DOCTYPE html>
<html style="padding: 0;margin: 0;">
    <body style="font-family: sans-serif;padding: 0;margin: 0;">
        <div style="padding: 0;margin: 0;width: auto;top: 5%;left: 50%;position: absolute;transform: translateX(-50%);">
            <div style="align-items: center;justify-content:left;font-size: 32px;font-weight: bold;padding-left: 0;padding-bottom: 10px;border-bottom: 1px solid #ccc;margin-bottom: 20px;display: flex;">
                <div><img style="width: 50px;height: 50px;border-radius: 50%;" src="https://supplier-app-s3.s3.amazonaws.com/1633009866098_fintexel%20logo.png"></img>Flower $name</div>
            </div> 
            <table style="padding: 0;margin: 0;width: 100%;">
                <tbody>
                    <tr>
                        <td style="padding: 0;margin: 0;padding: 5px;width: 250px;">
                            <span>
                                <p style="padding: 0;margin: 0;font-family: sans-serif;font-size: 15px;font-weight: bold;">From:</p><br></br>
                                <h6 style="font-size:15px;font-weight: normal;margin: 5px 0;">Hyundai</h6>
                                <h6 style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0;">Joypur,Howrah</h6>
                                <p style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0;">Howrah,711401</p>
                                <p style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0;">India</p>
                                <p style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0;">Asia</p>
                            </span>
                        </td>

                        <td style="padding: 5px;width: 250px;">
                            <span>
                                <h4 style="padding: 0;margin: 0;font-family: sans-serif;font-size: 15px;font-weight: bold;"> To:</h4><br></br>
                                <h5 style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0;">BMW</h5>
                                <h6 style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin-bottom: 5px;">Joypur,Howrah</h6>
                                <p style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin-bottom: 5px;">Howrah,993929</p>
                                <p style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin-bottom: 5px;">US</p>
                                <p style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin-bottom: 5px;">USA</p>
                            </span>
                        </td>
                        <td style="padding: 0;margin: 0;padding: 5px;width: 250px;">
                            <div style="padding: 0;margin: 0;margin-top: -55px;">
                                <h5 style="padding: 0;margin: 0;font-family: sans-serif;font-size: 15px;font-weight: bold;">Purchase Order</h5>
                                <h3  style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0;" id="poNumber">1726535</h3>
                                <p style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0;"><span class="dtltitle">Amount:</span> $882655 USD</p>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h4 style="padding: 0;margin: 0;font-family: sans-serif;font-size: 15px;font-weight: bold;">Payment Terms</h4>
                            <p style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0;">Net 30</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h4 style="padding: 0;margin: 0;font-family: sans-serif;font-size: 15px;font-weight: bold;margin: 8px 0 5px 0;">Comments :</h4>
                            <P style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin-bottom: 25px;">Purchase</P>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 0;margin: 0;background: #dc3545;padding: 10px;color: #fff;letter-spacing: .2px;">
                            <div style="padding: 0;margin: 0;min-height: 250px;min-width: 270px;">
                                <h5 style="padding: 0;margin: 0;font-family: sans-serif;font-size: 15px;font-weight: bold;">Ship All Items To:</h5>
                                <h6 style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0 0 0;">Hyundai</h6>
                                                        
                                <p style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0 0 0;">Howrah-711401</p>
                                <p style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0 0 0;">Asia</p>
                                <p style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0 0 0;">India</p>
                            </div>
                            
                        </td>
                        <td style="padding: 0;margin: 0;background: #17a2b8;padding: 10px;color: #fff;letter-spacing: .2px;">
                            <div style="padding: 0;margin: 0;min-height: 250px;min-width: 270px;">
                                <h5 style="padding: 0;margin: 0;font-family: sans-serif;font-size: 15px;font-weight: bold;">Bill To:</h5>
                                <h6 style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0 0 0;">Hyundai</h6>
                                <h6 style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0 0 0;">Joypur</h6>
                                <p style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0 0 0;">Howrah 711401</p>
                                <p style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0 0 0;">Asia</p>
                                <p style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0 0 0;">Indid</p>
                            </div>
                        </td>
                        <td style="padding: 0;margin: 0;background:#28a745;padding: 10px;color: #fff;letter-spacing: .2px;">
                            <div style="padding: 0;margin: 0;min-height: 250px;min-width: 270px;">
                                <h5 style="padding: 0;margin: 0;font-family: sans-serif;font-size: 15px;font-weight: bold;">Deliver To:</h5>
                                <H6 style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0 0 0;">Chandan</H6>
                                <H6 style="padding: 0;margin: 0;font-size:15px;font-weight: normal;margin: 5px 0 0 0;">chandan@gmail.com</H6>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p style="padding: 0;margin: 0;font-family: sans-serif;font-size: 18px;letter-spacing: .3px;margin: 15px 0 8px 0">Line items</p>
            <table style="padding: 0;margin: 0;border:1px solid #ccc;width: 100%;">
                <tbody>
                    <tr style="padding: 0;margin: 0;border:1px solid #ccc">
                    <th style="padding: 0;margin: 0;border-right: 1px solid #000;background:#3357a7 ;color: #fff;font-family: sans-serif;padding: 4px 13px;font-weight: bold;font-size: 17px;letter-spacing: .2px;">Id</th>
                    <th style="padding: 0;margin: 0;border-right: 1px solid #000;background:#3357a7 ;color: #fff;font-family: sans-serif;padding: 4px 13px;font-weight: bold;font-size: 17px;letter-spacing: .2px;">PART / DESCRIPTION</th>
                    <th style="padding: 0;margin: 0;border-right: 1px solid #000;background:#3357a7 ;color: #fff;font-family: sans-serif;padding: 4px 13px;font-weight: bold;font-size: 17px;letter-spacing: .2px;">QTY(UNIT)</th>
                    <th style="padding: 0;margin: 0;border-right: 1px solid #000;background:#3357a7 ;color: #fff;font-family: sans-serif;padding: 4px 13px;font-weight: bold;font-size: 17px;letter-spacing: .2px;">UNIT_PRICE</th>
                    <th style="padding: 0;margin: 0;border-right: 1px solid #000;background:#3357a7 ;color: #fff;font-family: sans-serif;padding: 4px 13px;font-weight: bold;font-size: 17px;letter-spacing: .2px;">TAX</th>
                    <th style="padding: 0;margin: 0;border-right: 1px solid #000;background:#3357a7 ;color: #fff;font-family: sans-serif;padding: 4px 13px;font-weight: bold;font-size: 17px;letter-spacing: .2px;">AMOUNT</th>
                </tr>
                <tr style="padding: 0;margin: 0;border-bottom:1px solid #ccc">
                    <td style="padding: 0;margin: 0;border-right: 1px solid #ccc;color: #000;font-family: sans-serif;padding: 4px 13px; font-size: 17px;letter-spacing: .2px;">1</td>
                    <td style="padding: 0;margin: 0;border-right: 1px solid #ccc;color: #000;font-family: sans-serif;padding: 4px 13px;font-size: 17px;letter-spacing: .2px;">Super Car</td>
                    <td style="padding: 0;margin: 0;border-right: 1px solid #ccc;color: #000;font-family: sans-serif;padding: 4px 13px;font-size: 17px;letter-spacing: .2px;">1</td>
                    <td style="padding: 0;margin: 0;border-right: 1px solid #ccc;color: #000;font-family: sans-serif;padding: 4px 13px;font-size: 17px;letter-spacing: .2px;">{{item?.unitPrice}}</td>
                    <td style="padding: 0;margin: 0;border-right: 1px solid #ccc;color: #000;font-family: sans-serif;padding: 4px 13px;font-size: 17px;letter-spacing: .2px;">6%</td>
                    <td style="padding: 0;margin: 0;border-right: 1px solid #ccc;color: #000;font-family: sans-serif;padding: 4px 13px;font-size: 17px;letter-spacing: .2px;">$4255336</td>
                </tr>
                </tbody>
                
            </table>
        </div>
        
          
    </body>
</html>
